<a href="https://colab.research.google.com/github/grace7645/pythonbasicclass2/blob/main/%5B2%5D_Python_Basic_Day3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list tuple dict set

#                 몇번째      몇글자      삭제, 수정, 삽입..
# list    []    indexing / slicing    mutable(del, ins)   [1]
# tuple   ()    indexing / slicing    immutable           (1,)
# dict    {}          X (undrdered)   mutable(del, ins)   {'key':'value'}
# set     {}          X (undrdered)   mutable(del, ins)   {1,2,3}

#문제   
교재 p.49

In [10]:
#1
# 내가한거
num = '31025'

a = num[0]
b = num[1:3]
c = num[3:]

print(a,'학년', b,'반', c,'번')


# 강사님이랑 한거
no = '31025'

a = no[0]    # indexing
b = no[1:3]  # slicing
c = no[3:]   # slicing

print(a,'학년', b,'반', c,'번')
print(f'{a}학년 {b}반 {c}번')    # f 스트링

3 학년 10 반 25 번
3 학년 10 반 25 번
3학년 10반 25번

In [18]:
#2
# 내가한거
car = input('전체 차량번호를 입력해주세요 : ')

print(car,'의 차량번호 4자리는', car[-4:],'입니다.')


# 강사님이랑 한거
no = '서울2가1234'
no4 = no[-4:]
print(no,'의 차량번호 4자리는', no4, '입니다.')
print(f'{no}의 차량번호 4자리는 {no4}입니다.')

전체 차량번호를 입력해주세요 : 서울2가123
서울2가123 의 차량번호 4자리는 가123 입니다.
서울2가1234 의 차량번호 4자리는 1234 입니다.
서울2가1234의 차량번호 4자리는 1234입니다.

In [36]:
#3
# 내가한거
s = 'maple'
print(f'{s}의 가운데 글자는 {s[2]}입니다.')


# 강사님이랑 한거
s = 'maple'    # 가운데 p 출력
center = s[len(s)//2]   
# len() 함수는 그 문자가 몇글자인지 세주는 함수
# // 나머지를 버리고 몫만 취한다
# %  몫은 버리고 나머지만 취한다 (홀수/짝수/배수 구할 때 용이)

print(s,'의 가운데 글자는',center,'입니다.')
print(f'{s}의 가운데 글자는 {center}입니다.')

maple의 가운데 글자는 p입니다.
maple 의 가운데 글자는 p 입니다.
maple의 가운데 글자는 p입니다.

In [38]:
#4
# 내가한거
li = [10,20,30,40,50,60,70,80,90,100]

print('3번째 요소부터 7번째 요소 =', li[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소 =', li[2:7][1])


# 강사님이랑 한거
li1 = [10,20,30,40,50,60,70,80,90,100]

print('3번째 요소부터 7번째 요소 =',li1[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소 =',li1[2:7][1])

3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40
3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [39]:
#5
# 내가한거
d = {'금요일':'탕수육','토요일':'유산슬','일요일':'팔보채'}

print('금요일 :',d['금요일'])
print('토요일 :',d['토요일'])
print('일요일 :',d['일요일'])


# 강사님이랑 한거
dict = {'금요일':'탕수육',
        '토요일':'유산슬',
        '일요일':'팔보채'}

print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채
금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [13]:
# p.52
# 이스케이프 문자
# \   따옴표의 기능을 무력화시키고 글자로 표현
# \n  줄바꿈  line feed
# \t  탭     tab

print('Hello \'World\'')
print("Hello 'World'")

print("Hello \"World\"")
print('Hello "World"')

print('*\n**\n***')
print('''*
**
***''')

print('Hello\nWorld')

print('이름\t연락처')
print('제시카\t02-123-4567')
print('마틴\t010-8765-4321')

Hello 'World'
Hello 'World'
Hello "World"
Hello "World"
*
**
***
*
**
***
Hello
World
이름	연락처
제시카	02-123-4567
마틴	010-8765-4321

In [18]:
# print() 함수

print('재미있는','파이썬')
print('재미있는','파이썬', sep=',')
print('재미있는','파이썬', sep='/')
print('재미있는','파이썬', sep='a')

재미있는 파이썬
재미있는,파이썬
재미있는/파이썬
재미있는a파이썬

In [26]:
print('영화 타이타닉')
print('평점', end=' ')
print('5점')

영화 타이타닉
평점 5점

In [34]:
# %연산자 (비추)

print('%d' % 11)  # %d 정수 10진수 자리표시자 decimal
print('%o' %10)   # %o 정수 8진수 자리표시자 octal    잘 안씀
print('%x' %10)   # %x 정수 16진수 자리표시자 hexa    잘 안씀
print('%f' %3.14)

print('%s' % 'python')
print('%s' %3.14)

# 이 방식 자체를 비추, f-string 추천

11
12
a
3.140000
python
3.14

In [41]:
print('%d' %1)
print('%5d' % 1)  #다섯칸을 확보하고 오른쪽에 출력
print('%5d' %11)  #다섯칸을 확보하고 오른쪽부터 출력

print('%-5d' %1)  #다섯칸을 확보하고 왼쪽에 출력
print('%-5d' %11) #다섯칸을 확보하고 왼쪽부터 출력

1
    1
   11
1
11

In [45]:
print('%.2f' %3.14) #소숫점 아래 두번째 자리까지 실수 출력
print('%.1f' %3.14) #소숫점 아래 첫번쨰 자리까지 실수 출력

3.14

In [44]:
print('%5.2f' %3.14)  #다섯칸을 확보하고 소숫점 아래 두번째 자리까지 오른쪽에 실수 출력
print('%5.1f' %3.14)  #다섯칸을 확보하고 소숫점 아래 첫번째 자리까지 오른쪽에 실수 출력

print('%-5.2f' %3.14)  #다섯칸을 확보하고 소숫점 아래 두번째 자리까지 왼쪽에 실수 출력
print('%-5.1f' %3.14)  #다섯칸을 확보하고 소숫점 아래 첫번째 자리까지 왼쪽에 실수 출력

 3.14
  3.1
3.14
3.1

In [47]:
print('%s' % 3.14)

3.14

In [54]:
# 인쇄하는 4가지 방법

# 1 기본 출력 방법  *****
a = '학생'
print(a,'입니다.')

# 2 f string 출력 방법 *****
print(f'{a} 입니다.')

# 3 %연산자 출력 방법
print('%s 입니다.' %a)

# 4 format() 출력 방법
print('{} 입니다.'.format(a))

학생 입니다.
학생 입니다.
학생 입니다.
학생 입니다.

In [59]:
# p.59
# format() 매서드

print('My name is {}'.format('James'))

My name is James

In [ ]:
print('My name is {0}'.format('James'))     #순서지정할 수 있음

In [60]:
print('My name is {name}'.format(name ='James')) #변수 안에 담아줄 수 있음

My name is James

In [61]:
print('My name is {}. I\'m {} years old.'.format('James',20))

My name is James. I'm 20 years old.

In [64]:
print('My name is {name}. I\'m {age} years old.'.format(name ='James',age =20))

My name is James. I'm 20 years old.

In [65]:
# p.61
# f-strings

who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [69]:
age = 25
print(f'내년에는 {age+1}살이 됩니다.')

# 내가 만든 활용 ㅋ
age = int(input('현재 나이를 입력해주세요 :'))
print(f'내년에는 {age+1}살이 됩니다.')

내년에는 26살이 됩니다.
현재 나이를 입력해주세요 :4
내년에는 5살이 됩니다.

In [72]:
# p.62 표준입력

a = input()
print(a)

ㅗ
ㅗ

In [75]:
# n = input('정수를 입력하세요 : ')
# print(type(n))

n = int(input('정수를 입력하세요 : '))
print(type(n))

# input을 통해 입력된 모든 데이터는 전부 문자로 받는다.
# 따라서 숫자로 입력 받기 위해서는 casting을 하여 숫자로 바꾼다.

정수를 입력하세요 : 4
<class 'int'>

In [80]:
# p.63 기본예제 (네가지 방식으로 출력하라)

name = input('이름을 입력하세요 >>>')
age = input('나이를 입력하세요 >>>')

print('입력된 이름은 {}입니다.'.format(name))
print('입력된 나이는 {}살입니다.'.format(age))

print('입력된 이름은',name,'입니다.')
print('입력된 나이는',age,'살입니다.')

print(f'입력된 이름은 {name}입니다.')
print(f'입력된 나이는 {age}살입니다.')

print('입력된 이름은 %s 입니다.' % name)
print('입력된 나이는 %s 살입니다.' %age)

이름을 입력하세요 >>>박은혜
나이를 입력하세요 >>>20
입력된 이름은 박은혜입니다.
입력된 나이는 20살입니다.
입력된 이름은 박은혜 입니다.
입력된 나이는 20 살입니다.
입력된 이름은 박은혜입니다.
입력된 나이는 20살입니다.
입력된 이름은 박은혜 입니다.
입력된 나이는 20 살입니다.